.hero-container {
    position: relative;
    z-index: 100;
}

.hero-text {
    position: relative;
    z-index: 200;
}

.hero-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
}
button {
    border-radius: 15px;
    
}
.error-image {
display: flex;
margin: auto;
justify-content: center;
height: 500px;    
}
.container-fluid  {
    background: #1F75FE;
    color: whitesmoke;
    
}

.hero-text {
    display: flex;
    margin: auto;
    justify-content: center;
   
}

